<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
    
<body>
    <div class="container">
        <div class="jumbotron text-center">
          <h1>Mission to Mars</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
    </div>
    
    <div class="container">
        <div class="col-12">
            <h2 class="title">Latest Mars News</h2>
            <h3 class="title">{{ mars_data.marsnews_url_title }}</h3>
            <p>{{ mars_data.marsnews_url_paragraph }}</p>
        </div>
    </div>
    
    <br>
    
    <div class="container"> 
        <div class="row">
            <div class="col-7">
                <div class="box">
                    <h2 class="title">Feature Mars Image</h2>
                    <img src = {{ mars_data.featuredimage_url }} style="max-width:100%; max-height: auto;">
                </div>
            </div>

            <div class="col-5">
                <div class="box">
                    <h3 class="title">Mars Facts</h3>
                    <div style="max-width: 450px; max-height: 150px; font-size: 15px; margin-bottom: 65px;">
                        {{ mars_data.marstable }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <h3 style="padding-top: 50px; margin-top: 100px; text-align: center;">Mars Hemispheres</h3>
        <div class="card-deck">
            <hr>
            <div class="col-md-12">
                <div class="row">
                    {% for item in mars_results.hemisphere_image_urls %}
                    <div class="col-md-6">
                        <div class="card text-white bg-dark" style="margin: 30px;">
                            <img class="card-img-top" src="{{ item.img_url }}" />
                            <div class="card-body">
                                <p class="card-text">{{ item.title }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>  
    </div>
            
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"crossorigin="anonymous"></script>
               
</body>
</html>